body {
  margin: 0;
  padding: 0;
  font-family: New Century Schoolbook, TeX Gyre Schola, serif;
  background-size: auto;
  box-sizing: border-box;
}

.green-circle {
  background-color: yellowgreen;
  width: 450px;
  height: 450px;
  border-radius: 225px;
  position: absolute;
  top: -25px;
  left: -45px;
  z-index: 0;
}

.logo {
  font-size: 5rem;
  position: relative;
  display: inline;
  z-index: 1;
  top: 170px;
  left: 320px;
}